table{
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}
th, td{
    border: 3px solid black;
    padding: 20px;
    text-align: center;
}
body{
    background-image: url("fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;  
}
